# Dependencies
node_modules

# Build output
dist
dist-ssr
coverage
*.tsbuildinfo
.turbo

# Playwright
playwright-report/
test-results/
.nyc_output/
**/playwright/.cache/

# Logs
*.log

# Editor / OS
.history
.DS_Store
*.local
*.history*
*.tmp*
